<launch>
	<node name="joy" pkg="joy" type="joy_node" />
	<node name="joy2ptu" pkg="joy2ptu" type="joy2ptu" />
	<node name="rflexgui" pkg="rflex_gui" type="gui.py" />
	<node name="left_image" pkg="image_view" type="image_view">
		<remap from="image" to="/stereo/left/image"/>
		<remap from="_image_transport" to="compressed"/>
	</node>
	<node name="right_image" pkg="image_view" type="image_view">
		<remap from="image" to="/stereo/right/image"/>
		<remap from="_image_transport" to="compressed"/>
	</node>
</launch>

