<launch>
	<param name="/b21/port" value="/dev/ttyUSB0" />
	<param name="/ptu/port" value="/dev/ttyUSB1" />
	<node name="ptu" pkg="ptu46" type="ptu46" />
	<node name="b21" pkg="rflex" type="b21" />
	<!--param name="/left_up/video_device" value="/dev/video1" /-->
	<!--param name="/right/video_device" value="/dev/video2" /-->
	<!--node name="left_up" pkg="usb_cam" type="usb_cam_node" /-->
	<!--node name="right" pkg="usb_cam" type="usb_cam_node" /-->
	<node name="$(anon webcam_topic_servera)" pkg="webcam_server" type="webcam_topic_server" args="/camera/image:=stereo/left/image /camera/image/compressed:=stereo/left/image/compressed --camera=1"/>
	<node name="$(anon webcam_topic_serverb)" pkg="webcam_server" type="webcam_topic_server" args="/camera/image:=stereo/right/image /camera/image/compressed:=stereo/right/image/compressed --camera=2 --rotate"/>
</launch>
