<launch>
	<param name="/b21/port" value="/dev/ttyUSB0" />
	<param name="/ptu/port" value="/dev/ttyUSB1" />
	<node name="ptu" pkg="ptu46" type="ptu46" />
	<node name="b21" pkg="rflex" type="b21" />
	<node name="left_webcam" pkg="webcam_server" type="webcam_topic_server" args="/camera/image:=stereo/left/image /camera/image/compressed:=stereo/left/image/compressed --camera=1"/>
	<node name="right_webcam" pkg="webcam_server" type="webcam_topic_server" args="/camera/image:=stereo/right/image /camera/image/compressed:=stereo/right/image/compressed --camera=2 --rotate"/>
	<node name="hokoyu" pkg="hokuyo_node" type="hokuyo_node" />

	<param name="robot_description" command="cat $(find lewis)/model.xml" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="collected_state_publisher" pkg="lewis" type="collected_state_publisher" />
</launch>
